// Breakpoints
$bp-tablet: 48rem;
$bp-desktop: 64rem;

// Colors
$white: #ffffff;
$black: #000000;
$gray-950: #1d1f29;
$gray-900: #20222f;
$gray-650: #63687d;
$gray-600: #848bab;
$gray-400: #aeb3cb;
$gray-200: #e1e4f0;
$navy-950: #252b42;
$navy-900: #333a55;
$navy-50: #f1f3fa;
$blue-600: #178ff5;
$blue-500: #1da1f2;
$blue-50: #f7f9ff;
$red-700: #c4032b;
$red-500: #dc414c;
$green-500: #1eb589;

// Spacing
$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-800: 4rem;
